<header>
  <ul class="nav">
    <li>
      <a href="/">home<small>where the heart is</small></a>
    </li>
    <li>
      <a href="/projects">projects<small>stuff I've worked on</small></a>
    </li>
  </ul>
  <h1>{{ title }}</h1>
  {%- if profile %}<div class="subtitle-container-with-pic"><img class="profile" src="../images/profile.jpeg" /> {% endif %}
  {%- if subtitle %}<p class="subtitle">{{ subtitle | safe }}</p>{% endif %}
  {%- if profile %}</div>{% endif %}

</header>
